@import "./_variables.scss";
@import "./_mixin.scss";

.loading {
  @include flex-mid-row;
  height: 100vh;
  background-color: $white-background;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  opacity: 0.5;
  animation: mon-loading-spiner;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  .loading-in {
    border-top: 5px solid $Primaire;
    border-bottom: 5px solid $Secondaire;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 99999;
    animation: loading-in 5s infinite;
  }
}
@keyframes mon-loading-spiner {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loading-in {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
  }
}
body {
  margin: 0 auto;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
a:link {
  text-decoration: none;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin: 0px;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0px;
}
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
}
.header {
  box-shadow: 0px 5px 10px 0px #cfcfcf;
  position: relative;
  z-index: 2;

  .header__logo {
    @include flex-mid-row;
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 30px;
    color: $text-Shrikhand;
    height: auto;
  }
}
.main {
  @include flex-column-start;
  height: auto;

  .location {
    width: 100%;
    height: 50px;
    @include flex-mid-row;
    gap: 2%;
    background-color: #eaeaea;
    z-index: 1;
    color: $text-grey-1;
    .location__icon {
      color: $text-grey-1;
    }
  }
  .explanation {
    @include flex-mid-column;
    background-color: $grey-light-background;
    width: 100%;
    margin: 0px;

    .content-explanation {
      text-align: center;
      margin: 0px;
    }
    .content-explanation__title {
      width: 90%;
      margin-top: 30px;
      font-size: 24px;
      color: $text-Roboto;
    }
    .content-explanation__text {
      margin-top: 0px;
      color: $text-grey-1;
      margin: 10px;
      width: 100%;
    }
    .content__btn {
      width: 218px;
      height: 50px;
      text-align: center;
      font-weight: 500;
      @include flex-mid-row;
      border-radius: 30px 30px 30px 30px;
      background: linear-gradient(355deg, $Primaire, $Secondaire);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
        rgba(212, 172, 172, 172) 0px 5px 10px;
      color: $white-text;
      padding: 0px 15px 0px 15px;
      margin: 15px 0px 40px 15px;
      transition: all 2s ease;
    }
    .content__btn:hover {
      opacity: 0.5;
      transition: all 1s ease;
      transform: scale(1.02);
    }
  }
  .functioning-content {
    width: 100%;
    background-color: $white-background;
    margin-bottom: 40px;

    .functioning__content-1 {
      margin: 35px 0px 40px 20px;
      padding-left: 0px;
    }
    .functioning__content-2 {
      @include flex-mid-column;
      width: 100%;
      background-color: $grey-light-background;
      margin-bottom: 0px;
      padding-bottom: 0px;

      .content-2__gabarit {
        @include flex-mid-start;
        gap: 15px;
        width: 90%;
        height: 70px;
        border-radius: 20px 20px 20px 20px;
        background-color: $grey-light-background;
        box-shadow: rgba(0, 0, 0, 0) 0px 3px 8px;
        position: relative;
        margin-bottom: 25px;

        .gabarit__ellipse {
          @include flex-mid-row;
          @include div-chiffres;
          position: absolute;
          left: -12px;
        }
        .gabarit__icon {
          color: $text-grey-icon;
          margin-left: 40px;
        }

        .gabarit__icon--icon-purple {
          color: $Primaire;
        }
      }
    }
  }
  .restaurant {
    background-color: $grey-light-background;
    width: 100%;

    .restaurant__content-1 {
      margin: 40px 0px 0px 20px;
    }
    .restaurant__content-2 {
      @include flex-mid-column;
      background-color: #f6f6f6;
      width: 100%;
      height: auto;
      margin-bottom: 60px;

      .card {
        width: 90%;
        height: auto;
        background-color: $white-background;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px 20px 20px 20px;
        margin: 20px 0px 15px 0px;

        position: relative;
      }
      a {
        color: $text-Roboto;
      }
      .card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
      }
      .card-carre {
        background-color: $green-light;
        color: $green-dark;
        width: 80px;
        height: 29px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        @include flex-mid-row;
        border-radius: 2px;
        position: absolute;
        top: 20px;
        right: 15px;
      }
      .card-title {
        margin: 10px 0px 0px 10px;
      }
      .card-title__star {
        @include flex-row-space-between;
        margin-bottom: 20px;
        position: relative;
      }
      .star__sous-titre {
        margin-left: 10px;
      }
      .star__icon-far {
        margin-right: 10px;
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: -15px;
      }
      .star__icon-fas {
        margin-right: 10px;
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: -15px;
        opacity: 0;
        transition: all;
        transition-duration: 2s;
      }
      .star__icon-fas:hover {
        opacity: 1;
        background-image: $color-linear-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
  .footer {
    background-color: $text-grey-1;
    color: $white-text;
    padding: 20px 0px 10px 40px;
    margin-top: -58px;

    .footer__logo-footer {
      font-family: Shrikhand;
      font-weight: 400;
      font-size: 18px;
      margin: 10px 0px 20px 0px;
      visibility: visible;
    }
    .footer__icon-text-1 {
      @include flex-mid-start;
      gap: 10px;
      margin-bottom: 10px;
    }
    .footer__icon-text-2 {
      @include flex-mid-start;
      gap: 10px;
      margin-bottom: 10px;
    }
    .footer__text-1 {
      @include flex-mid-start;
      gap: 10px;
      margin-bottom: 15px;
      text-decoration: none;
    }
    .footer__text-2--link:hover {
      cursor: pointer;
    }
    a.footer__text-2--link {
      color: $white-text;
      text-decoration: none;
      padding-bottom: 20px;
    }
    .footer__logo-footer-end {
      font-family: Shrikhand;
      font-weight: 400;
      font-size: 18px;
      margin: 20px 0px 20px 0px;
      display: none;
    }
  }
}
.transform {
  width: 200px;
  height: 300px;
  background-color: $Secondaire;
}

@media screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  .main .functioning-content .functioning__content-2 {
    @include flex-mid-row;
    width: 70%;
    gap: 25px;
    margin-left: 222px;
  }
  .main .functioning-content .functioning__content-1 {
    margin-left: 222px;
  }
  .main .restaurant .restaurant__content-1 {
    margin-left: 222px;
  }
  .main .restaurant .restaurant__content-2 {
    @include flex-mid-row;
    background-color: #f6f6f6;
    gap: 20px;
    flex-wrap: wrap;
  }
  .main .restaurant .restaurant__content-2 .card {
    width: 35%;
    height: auto;
  }
  .main .footer {
    @include flex-mid-row;
    gap: 20px;
  }
  .main .footer .footer__text-1 {
    margin-left: 25px;
  }
  .main .footer .footer__logo-footer {
    display: none;
  }
  .main .footer .footer__logo-footer-end {
    display: block;
    margin-left: 50px;
    padding-bottom: 10px;
  }
  .main .footer .footer__text-2 {
    padding-bottom: 10px;
  }
  .main .footer .footer__icon-text-1 {
    margin-left: 450px;
  }
}
