$fond-blanc: rgba(255, 255, 255, 1);
$ellipse-violet: rgba(147, 86, 220, 1);

@mixin flex-mid-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-mid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-mid-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@mixin div-chiffres {
  font-family: roboto;
  font-size: 14.18px;
  font-weight: 500;
  line-height: 16.62px;
  color: #f6f6f6;
  background-color: #9356dc;
  border-radius: 50%;
  width: 26px;
  height: 24px;
  margin-right: Opx;
  padding-right: 0px;
}

.loading {
  width: 50px;
  height: 50px;
  border-top: 5px solid #9356dc;
  border-bottom: 5px solid #ff79da;
  border-radius: 50px;
  border-left: #008766;
  border-right: #99e2d0;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  animation: mon-loading-spiner 5s linear infinite;
}

@keyframes mon-loading-spiner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    display: none;
  }
}

body {
  margin: 0 auto;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
a:link {
  text-decoration: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0px;
}
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
}
.header {
  box-shadow: 0px 5px 10px 0px #cfcfcf;
  position: relative;
  z-index: 2;

  .header__logo {
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #101010;
  }
}
.main {
  @include flex-column-start;
  height: auto;

  .location {
    width: 100%;
    height: 50px;
    @include flex-mid-row;
    gap: 2%;
    background-color: #eaeaea;
    z-index: 1;
    color: #353535;
    .location__icon {
      color: #353535;
    }
  }

  .explanation {
    @include flex-mid-column;
    background-color: #f6f6f6;
    width: 100%;
    margin: 0px;

    .content-explanation {
      text-align: center;
      margin: 0px;
    }
    .content-explanation__title {
      width: 90%;
      margin-top: 30px;
      font-size: 24px;
      color: #000000;
    }
    .content-explanation__text {
      margin-top: 0px;
      color: #353535;
      margin: 10px;
      width: 100%;
    }
    .content__btn {
      width: 218px;
      height: 50px;
      text-align: center;
      @include flex-mid-row;
      border-radius: 30px 30px 30px 30px;
      background: linear-gradient(355deg, #9356dc, #ff79da);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
        rgba(212, 172, 172, 0.05) 0px 5px 10px;
      color: #ffffff;
      padding: 0px 15px 0px 15px;
      margin: 15px 0px 40px 15px;
      transition: all 2s ease;
    }
    .content__btn:hover {
      opacity: 0.5;
      transition: all 1s ease;
      transform: scale(1.02);
    }
  }
  .functioning-content {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 40px;

    .functioning__content-1 {
      margin-top: 35px;
      margin-left: 20px;
      margin-bottom: 40px;
      padding-left: 0px;
    }
    .functioning__content-2 {
      @include flex-mid-column;
      width: 100%;
      background-color: #ffffff;
      margin-bottom: 0px;
      padding-bottom: 0px;

      .content-2__gabarit {
        @include flex-mid-start;
        gap: 15px;
        width: 90%;
        height: 70px;
        border-radius: 20px 20px 20px 20px;
        background-color: #f6f6f6;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        position: relative;
        margin-bottom: 25px;

        .gabarit__ellipse {
          @include flex-mid-row;
          @include div-chiffres;
          position: absolute;
          left: -12px;
        }
        .gabarit__icon {
          color: #7e7e7e;
          margin-left: 40px;
        }

        .gabarit__icon--icon-purple {
          color: #9356dc;
        }
      }
    }
  }
  .restaurant {
    background-color: #f6f6f6;
    width: 100%;

    .restaurant__content-1 {
      margin-left: 20px;
      margin-top: 40px;
    }
    .restaurant__content-2 {
      @include flex-mid-column;
      background-color: #f6f6f6;
      width: 100%;
      height: auto;
      margin-bottom: 60px;

      .card {
        width: 90%;
        height: auto;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px 20px 20px 20px;
        margin-top: 20px;
        margin-bottom: 15px;
        position: relative;
      }
      a {
        color: #000000;
      }
      .card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
      }
      .card-carre {
        background-color: #99e2d0;
        color: #008766;
        width: 80px;
        height: 29px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        @include flex-mid-row;
        border-radius: 2px;
        position: absolute;
        top: 20px;
        right: 15px;
      }
      .card-title {
        margin-left: 10px;
        margin-top: 10px;
      }
      .card-title__star {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
      }
      .star__sous-titre {
        margin-left: 10px;
      }
      .star__icon-far {
        margin-right: 10px;
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: -15px;
      }
      .star__icon-fas {
        margin-right: 10px;
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: -15px;
        opacity: 0;
        transition: all;
        transition-duration: 2s;
      }
      .star__icon-fas:hover {
        opacity: 1;
        background-image: linear-gradient(
          rgba(147, 86, 220, 1),
          rgba(255, 121, 218, 1)
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
  .footer {
    background-color: #353535;
    color: #ffffff;
    margin-top: 0px;
    padding-left: 40px;
    margin-top: 0px;
    .logo-footer {
      font-family: Shrikhand;
      font-weight: 400;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .footer__icon-text {
      @include flex-mid-start;
      gap: 10px;
      margin-bottom: 10px;
    }
    .footer__text {
      @include flex-mid-start;
      gap: 10px;
      margin-bottom: 10px;
    }
    .footer__text--link:hover {
      cursor: pointer;
    }
    a.footer__text--link {
      color: #ffffff;
      text-decoration: none;
      padding-bottom: 20px;
    }
  }
}
.transform {
  width: 200px;
  height: 300px;
  background-color: #ff79da;
}
