.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  opacity: 0.5;
  animation: mon-loading-spiner;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.loading .loading-in {
  border-top: 5px solid #9356dc;
  border-bottom: 5px solid #ff79da;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99999;
  animation: loading-in 5s infinite;
}

@keyframes mon-loading-spiner {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loading-in {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
  }
}
body {
  margin: 0 auto;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a:link {
  text-decoration: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
}

.header {
  box-shadow: 0px 5px 10px 0px #cfcfcf;
  position: relative;
  z-index: 2;
}
.header .header__logo {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #101010;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}
.main .location {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  background-color: #eaeaea;
  z-index: 1;
  color: #353535;
}
.main .location .location__icon {
  color: #353535;
}
.main .explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  margin: 0px;
}
.main .explanation .content-explanation {
  text-align: center;
  margin: 0px;
}
.main .explanation .content-explanation__title {
  width: 90%;
  margin-top: 30px;
  font-size: 24px;
  color: #000000;
}
.main .explanation .content-explanation__text {
  margin-top: 0px;
  color: #353535;
  margin: 10px;
  width: 100%;
}
.main .explanation .content__btn {
  width: 218px;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 30px 30px;
  background: linear-gradient(355deg, #9356dc, #ff79da);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(212, 172, 172, 0.05) 0px 5px 10px;
  color: #ffffff;
  padding: 0px 15px 0px 15px;
  margin: 15px 0px 40px 15px;
  transition: all 2s ease;
}
.main .explanation .content__btn:hover {
  opacity: 0.5;
  transition: all 1s ease;
  transform: scale(1.02);
}
.main .functioning-content {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 40px;
}
.main .functioning-content .functioning__content-1 {
  margin-top: 35px;
  margin-left: 20px;
  margin-bottom: 40px;
  padding-left: 0px;
}
.main .functioning-content .functioning__content-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.main .functioning-content .functioning__content-2 .content-2__gabarit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 90%;
  height: 70px;
  border-radius: 20px 20px 20px 20px;
  background-color: #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  margin-bottom: 25px;
}
.main .functioning-content .functioning__content-2 .content-2__gabarit .gabarit__ellipse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  font-size: 14.18px;
  font-weight: 500;
  line-height: 16.62px;
  color: #f6f6f6;
  background-color: #9356dc;
  border-radius: 50%;
  width: 26px;
  height: 24px;
  margin-right: Opx;
  padding-right: 0px;
  position: absolute;
  left: -12px;
}
.main .functioning-content .functioning__content-2 .content-2__gabarit .gabarit__icon {
  color: #7e7e7e;
  margin-left: 40px;
}
.main .functioning-content .functioning__content-2 .content-2__gabarit .gabarit__icon--icon-purple {
  color: #9356dc;
}
.main .restaurant {
  background-color: #f6f6f6;
  width: 100%;
}
.main .restaurant .restaurant__content-1 {
  margin-left: 20px;
  margin-top: 40px;
}
.main .restaurant .restaurant__content-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}
.main .restaurant .restaurant__content-2 .card {
  width: 90%;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 20px 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  position: relative;
}
.main .restaurant .restaurant__content-2 a {
  color: #000000;
}
.main .restaurant .restaurant__content-2 .card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.main .restaurant .restaurant__content-2 .card-carre {
  background-color: #99e2d0;
  color: #008766;
  width: 80px;
  height: 29px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  right: 15px;
}
.main .restaurant .restaurant__content-2 .card-title {
  margin-left: 10px;
  margin-top: 10px;
}
.main .restaurant .restaurant__content-2 .card-title__star {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.main .restaurant .restaurant__content-2 .star__sous-titre {
  margin-left: 10px;
}
.main .restaurant .restaurant__content-2 .star__icon-far {
  margin-right: 10px;
  font-size: 22px;
  position: absolute;
  right: 10px;
  top: -15px;
}
.main .restaurant .restaurant__content-2 .star__icon-fas {
  margin-right: 10px;
  font-size: 22px;
  position: absolute;
  right: 10px;
  top: -15px;
  opacity: 0;
  transition: all;
  transition-duration: 2s;
}
.main .restaurant .restaurant__content-2 .star__icon-fas:hover {
  opacity: 1;
  background-image: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.main .footer {
  background-color: #353535;
  color: #ffffff;
  margin-top: -58px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.main .footer .footer__logo-footer {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  visibility: visible;
}
.main .footer .footer__icon-text-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.main .footer .footer__icon-text-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.main .footer .footer__text-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  text-decoration: none;
}
.main .footer .footer__text-2--link:hover {
  cursor: pointer;
}
.main .footer a.footer__text-2--link {
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 20px;
}
.main .footer .footer__logo-footer-end {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

.transform {
  width: 200px;
  height: 300px;
  background-color: #ff79da;
}

@media screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  .main .functioning-content .functioning__content-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 25px;
    margin-left: 222px;
  }
  .main .functioning-content .functioning__content-1 {
    margin-left: 222px;
  }
  .main .restaurant .restaurant__content-1 {
    margin-left: 222px;
  }
  .main .restaurant .restaurant__content-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    gap: 20px;
    flex-wrap: wrap;
  }
  .main .restaurant .restaurant__content-2 .card {
    width: 35%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
  }
  .main .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .main .footer .footer__text-1 {
    margin-left: 25px;
  }
  .main .footer .footer__logo-footer {
    display: none;
  }
  .main .footer .footer__logo-footer-end {
    display: block;
    margin-left: 50px;
    padding-bottom: 10px;
  }
  .main .footer .footer__text-2 {
    padding-bottom: 10px;
  }
  .main .footer .footer__icon-text-1 {
    margin-left: 450px;
  }
}/*# sourceMappingURL=style.css.map */