@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@mixin flex-mid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-mid-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@mixin div-chiffres {
  font-family: roboto;
  font-size: 14.18px;
  font-weight: 500;
  line-height: 16.62px;
  color: #f6f6f6;
  background-color: #9356dc;
  border-radius: 50%;
  width: 26px;
  height: 24px;
  margin-right: Opx;
  padding-right: 0px;
}
