/* Error: This at-rule isn't allowed in plain CSS.
 *   ,
 * 4 | @mixin flex-mid-column {
 *   | ^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass\Untitled-3.css 4:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: This at-rule isn't allowed in plain CSS.\a   \2577 \a 4 \2502  @mixin flex-mid-column {\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass\\Untitled-3.css 4:1  root stylesheet";
}
